    @font-face { 
        font-family: BloodLust;
        src:url('BloodLust.ttf');
    }

    @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

    *{
        margin:0px;
    }
    body{
        background-image: url("castle-1483681_1920.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    h1{
        font-family: BloodLust;
        color: rgb(202, 24, 24);
        font-size: 60px;
        text-align: center;
        margin-top: 40px;
    }
    .playBox{
        width: 800px;
        height: 350px;
        background-color: rgba(129, 129, 129, 0.411);
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .invisible{
        display: none;
    }

    .buttons{
        display: flex;
        justify-content: center;
        margin-top:20px;

    }
    .buttons button{
        padding-left:5px ;
        padding-right: 5px;
        width:auto;
        font-size: 30px;
        height:60px;
        background-color: darkblue;
        color:white;
        font-family: 'Akaya Telivigala', cursive;
    }
    
    button{
        position: absolute;
        margin-right: 10px;
        margin-left: 10px;
    }

    #room button{
        position: relative;
    }

    #leftright button{
        position: relative;
    }
    .startButton{
        display: flex;
        justify-content: center;
    }

    .startButton button{
        width:400px;
        font-size: 30px;
        height:60px;
        background-color: darkblue;
        color:white;
        font-family: 'Akaya Telivigala', cursive;
    }

    audio{
        display: none;
    }

    .visible{
        display: block;
    }

    .saveKy{
        color: rgb(255, 182, 182);
        font-size: 30px;
    }

  

    #storyTwo{
        background-image: url("bloodhand.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        animation: example 4s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    @keyframes example {
        from   {background-image: url("bloodhand.jpg");}
        to  { background-image: url("black.jpg");}
        
      }
    #story3{
        background-image: url("black.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        animation: story3 4s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes story3{
        0% { background-image: url("black.jpg");}
        20%  { background-image: url("basement-1423945.jpg");}
        30%  { background-image: url("black.jpg");}
        40%  { background-image: url("basement-1423945.jpg");}
        50%  { background-image: url("black.jpg");}
        60%  { background-image: url("old\ room.jpg");}
        100%  { background-image: url("old\ room.jpg");}
    }
    
    #story4{
        text-align: center;
        font-size: 30px;
        width: 800px;
    }
    

    #story5{
        width:600px; height:230px; z-index:2; position:absolute;
    }

    #threeDoor{
        width:600px; height:230px; z-index:2; position:absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 70px;
    }
    #week{
        width:600px; height:230px; z-index:2; position:absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 70px;
    }

    #story5-1{
        
        background-image: url("./image/door.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 30px;
        margin-top: 30px;
    }

    #red{
        background-image: url("./image/red.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 30px;
        margin-top: 30px;
    }

    #blue{
        background-image: url("./image/blue.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 30px;
        margin-top: 30px;
    }

    #green{
        background-image: url("./image/green.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 30px;
        margin-top: 30px;
    }
    #story5-2{
        
        background-image: url("./image/safe.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 30px;
        margin-top: 30px;
    }
    #story5-3{
        
        background-image: url("./image/paper.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 30px;
        margin-top: 30px;
    }

    #story5-4{
        
        background-image: url("./image/opened.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 30px;
        margin-top: 30px;
    }

    #story5-5{
        
        background-image: url("./image/bloodyp.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 30px;
        margin-top: 30px;
    }


   
    #story5{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 70px;
    }

    #story6{
        margin-left: 110px;
    }
    #story7{
        margin-left: 310px;

    }

    #story8{
        margin-left: 110px;
    }

    #answer2{
        margin-left: 310px;

    }

    #quiz1{
        background-image: url("./image/quiz1_.png");
        background-position: center;
        background-size: cover;
        margin-left: 80px;
        margin-top: 30px;
    }

    #quiz2{
        background-color: rgba(248, 170, 170, 0.829);
        margin-left: 80px;
        margin-top: 30px;
    }

    #quiz1-1{
        margin-left: 50px;
    }

    #busHintq{
        margin-left: 50px;
    }
    
    #room{
        display: flex;
        flex-direction: row;
    }

    #leftright{
        display: flex;
        flex-direction: row;
    }

    #threeDoorB{
        display: flex;
        flex-direction: row;
    }

    #inOut{
        display: flex;
        flex-direction: row;
    }

    #inOut button{
        position: relative;
    }
    #threeDoorB button{
        position: relative;
    }

    #deadRoom{
        display: flex;
        flex-direction: row;
    }

    #deadRoom button{
        position:relative;
    }

    #week button{
        width:50px;
        height: 30px;
        margin-left:10px;
    }

    #openedDoor{
        background-image: url("./image/odoor.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-left: 30px;
        margin-top: 30px;
    }

    #hallway{
        background-image: url("./image/hallway.gif");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        animation: leftright 0.1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }


    @keyframes leftright{
        from { background-image: url("./image/hallway.gif");}
        to  { background-image: url("./image/leftright.jpg");}
    }
    

    #go{
        z-index: 3;
    }

    #busHint{
        background-image: url("./image/busHint.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        z-index: 2;

    }

    #dead{
        background-image: url("./image/dead.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        z-index: 2;
    }

    #welcome{
        background-image: url("./image/mauro.gif");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        z-index: 2;
    }

    #lastDoor{
        background-image: url("./image/lastDoor.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        z-index: 2;
    }

    #win{
        background-image: url("./image/win.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        z-index: 2;
    }

    #gameOver{
        background-image: url("./image/GameOver.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        z-index: 2;
    }

    #gameOverText{
        font-size:35px;
        width: 800px;
    }
    #gameOverText2{
        font-size:35px;
        width: 800px;
    }
    #gameOverZombi{
        background-image: url("./image/zombi.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        z-index: 2;
    }

    #gameOverGreen{
        background-image: url("./image/greenD.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        z-index: 2;
    }

    #gameOverBlue{
        background-image: url("./image/blueD.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        z-index: 2;
    }

    #happyE{
        background-image: url("./image/out.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:240px;
        margin-top: 30px;
        z-index: 2;
    }

    #badE{
        background-image: url("./image/skeleton.jpg");
        background-position: center;
        background-size: cover;
        height: auto;
        margin-left:80px;
        margin-top: 30px;
        z-index: 2;
    }

    #hintO{
        width:600px; height:230px; z-index:2; position:absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 70px;
    }